*, *:after , *:before{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    color: #4c4c4c;
}
#editor{
    height: calc(100vh - 66px);
    border: none;
}
#toolbar {
    border: none;
    border-bottom: 1px solid #ededed;
}

@media (min-width: 768px) {
    #toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #editor {
        height: calc(100vh - 41px);
    }
}

.icon-calc {
    width: 14px;
    height: 18px;
    display: inline-block;
    position: relative;
    border: 1px solid;
}
.icon-calc::after {
    content: '';
    width: calc(100% - 2px);
    height: 5px;
    position: absolute;
    left: 50%;
    top: 1px;
    transform: translate(-50%, 0%);
    border: 1px solid;
}

.icon-calc::before {
    content: '';
    width: 2px;
    height: 1px;
    position: absolute;
    left: 1px;
    top: 8px;
    background: currentColor;
    box-shadow: 0px 2px, 0px 4px, 4px 0, 4px 2px, 4px 4px, 8px 0, 8px 2px, 8px 4px;
}

.icon-theme{
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    overflow: hidden;
    position: relative;
}
.icon-theme::after{
    content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 16px solid;
        filter: blur(2px);
        border-color: #f16033 #f5bc08 #098ffc #43dd06;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 3px 8px #0002;
    z-index: 1000;
    transition: 0.2s ease-in;
    overflow: hidden;
    max-height: 0;
}

.dropdown-toggle.open .dropdown-menu {
    max-height: 600px;
}

.dropdown-menu li {
    padding: 6px 10px;
    text-align: left;
    white-space: nowrap;
    min-width: 150px;
    color: #4c4c4c;
    transition: 0.2s ease-in;
}
.dropdown-menu li:hover {
    background: #0001;
}