*, *:after , *:before{
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #0001;
}

*::-webkit-scrollbar-thumb {
    background: var(--note-bg);
    box-shadow: inset 10px 0 #0005;
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover{
    box-shadow: inset 10px 0 #0007;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    --text: #4c4c4c;
    --note-bg: #fff;
    background: var(--note-bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

p {
    margin: 0 0 10px;
}

ul {
    margin: 0;
    padding-left: 15px;
}
li {
    margin-bottom: 5px;
}
.dark {
    --note-bg: #333538;
    --text: #fff;
}
.owl {
    --note-bg: #1e263e;
    --text: #fff;
}

.quiet {
    --text: #455343;
    --note-bg: #e6ede8;
    color: var(--text);
}

.coffee {
    --note-bg: #f8d494;
}
.Sky {
    --text: #6b6161;
    --note-bg: #ebf6ff;
}

.board{
    --text: #ffffff;
    --note-bg: #3a493a;
}


.ql-snow .ql-picker{
    color: inherit;
}
.ql-snow .ql-stroke{
    stroke: var(--text);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill{
    fill: var(--text);
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: var(--note-bg);
    border-color: #0002;
}

#editor{
    height: calc(100vh - 66px);
    border: none;
    overflow-y: auto;
}
.ql-editor {
    overflow: visible;
}

#toolbar {
    border: none;
    background: #0002;
}

@media (min-width: 768px) {
    #toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #editor {
        height: calc(100vh - 41px);
    }
}

.ql-snow.ql-toolbar button.btn-theme{
    padding: 3px 0 0;
    margin-left: 15px;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    z-index: 100;
}

.stroke-size {
    display: none;
}

.is-selected .stroke-size {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
    justify-content: space-around;
    width: 130px;
    font-size: 12px;
    font-family: inherit;
}

#stroke-size-control{
    border: 1px solid var(--text);
    background: var(--note-bg);
    box-shadow: none;
    outline: none;
    color: var(--text);
    font-size: inherit;
    padding: 2px 0 2px 4px;
}

/* tool tip */
[data-tooltip]{
    position: relative;
}
[data-tooltip]:hover::after{
    visibility: visible;
    opacity: 1;
    transform:scale(1) translate(-50%, 50%);
}

[data-tooltip]::after{
    content: attr(data-tooltip);
    color: var(--text);
    background-color: var(--note-bg);
    font-size: 8px;
    white-space: nowrap;
    display: inline-block;
    box-shadow: inset 100px 0 #0004 , 0 5px 10px #0002;
    padding: 3px 8px;
    position: absolute;
    left: 50%;
    transform: scale(0.5) translate(-50% , 0%);
    top: 100%;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.29, 1.42);
}
.is-selected [data-tooltip="Text Background"]::after{
    content: 'Shape Background';
}
.is-selected [data-tooltip="Text Color"]::after{
    content: 'Stroke Color';
}


/* Change Color picker button Icon */
.is-selected .ql-color .ql-stroke:not(.ql-color-label){
    display: none;
}
.is-selected .ql-color::after {
    content: '';
    border: 3px solid #0000;
    border-top: 4px solid var(--text);
    left: 11px;
    bottom: 5px;
    position: absolute;
    transform: rotate(30deg);
    pointer-events: none;
}

.is-selected .ql-color .ql-picker-label::before{
    content: '';
    height: 11px;
    width: 11px;
    border-top: 1px solid var(--text);
    border-left: 1px solid var(--text);
    position: absolute;
    left: 7px;
    top: 3px;
    box-shadow: #0002 -7px 0px inset,
        var(--note-bg) -7px 0px inset,
        var(--text) 0px -1px inset;
    pointer-events: none;
}
.is-selected .ql-color .ql-picker-label::after{
    content: '';
    height: 11px;
    width: 5px;
    border: 1px solid var(--text);
    left: 15px;
    top: 2px;
    position: absolute;
    transform: rotate(35deg);
    pointer-events: none;
}


/*Fill Icon */
.is-selected .ql-background .ql-stroke {
    display: none;
}
 .is-selected .ql-background::before {
    content: '';
    height: 13px;
    width: 16px;
    left: 6px;
    top: 5px;
    position: absolute;
    background: var(--note-bg);
    z-index: 1;
    box-shadow: inset 16px 0 #0002;
    pointer-events: none;
}
 .is-selected .ql-background::after {
    content: '';
    height: 10px;
    width: 10px;
    left: 8px;
    top: 5px;
    position: absolute;
    border: 1px solid var(--text);
    background: linear-gradient(135deg, var(--note-bg) 50%, var(--text) 50%);
    transform: rotate(45deg);
    z-index: 3;
    border-radius: 0px 0px 2px 2px;
    pointer-events: none;
}

.is-selected .ql-background .ql-picker-label::before {
    content: '';
    height: 4px;
    width: 4px;
    background: var(--text);
    position: absolute;
    left: 18px;
    top: 11px;
    z-index: 3;
    border-radius: 0 2px 2px;
    transform: rotate(35deg);
    pointer-events: none;
}
 .is-selected  .ql-background .ql-picker-label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 4px;
    border: 1px solid var(--text);
    transform: rotate(45deg);
    border-radius: 3px 0px 0px 3px;
    z-index: 10;
    box-shadow: 4px 2px 0px -1px var(--text);
    pointer-events: none;
}

.icon-theme{
    display: inline-block;
    height: 20px;
    width: 24px;
    position: relative;
    background: var(--note-bg);
    border: 1px solid var(--text);
    border-radius: 2px;
}
.icon-theme::before , .icon-theme::after{
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 1px;
    color: var(--text);
    background: currentColor;
}
.icon-theme::after{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    left: 2px;
    top: 1px;
    box-shadow: 4px 0 ;
}
.icon-clear-all , .icon-clear-all::after{
    position: relative;
    display: inline-block;
    color: var(--text);
    background: var(--note-bg);
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 2px;
}
.icon-clear-all::after {
    content: '\d7';
    position: absolute;
    left: 2px;
    top: 2px;
    font-family: arial;
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
}

.icon-brush {
    position: absolute;
    left: 4px;
    top: 7px;
    width: 14px;
    height: 5px;
    color: var(--text);
    background: linear-gradient(90deg, #f41100, #fffc00, #00ff1e, #00bdff);
    border: 1px solid;
    box-shadow: 0 1px 4px #0004;
    border-radius: 1px;
}
.icon-brush::before {
    content: '';
    position: absolute;
    border-right: 1px solid;
    border-bottom: 1px solid;
    left: 6px;
    top: 1px;
    width: 8px;
    height: 5px;
}

.icon-brush:after {
    content: '';
    position: absolute;
    background: var(--note-bg);
    width: 3px;
    height: 8px;
    left: 5px;
    top: 6px;
    border: 1px solid;
}
.icon-trash{
    display: inline-block;
    width: 8px;
    height: 10px;
    color: var(--text);
    background: currentColor;
    border-radius: 0 0 2px 2px;
    position: relative;
    transform: translateY(2px)
}
.icon-trash:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 11px;
    background: inherit;
    top: -2px;
}
.icon-trash:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 4px;
    background: inherit;
    top: -3px;
    border-radius: 2px;
}


.is-selected #delete-shape{
    display: inline-block;
}

#delete-shape{
    color: var(--text);
    display: none;
}

.dropdown-toggle {
    position: relative;

}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--note-bg);
    box-shadow: 0 3px 8px #0002;
    z-index: 1000;
    /* transition: 0.2s ease-in; */
    overflow: hidden;
    max-height: 0;
}

.dropdown-toggle.open .dropdown-menu {
    max-height: 600px;
}

.dropdown-menu li {
    padding: 6px 10px 6px 30px;
    text-align: left;
    white-space: nowrap;
    min-width: 150px;
    color: var(--text);
    position: relative;
}
.dropdown-menu li:hover {
    background: #0001;
}
.dropdown-menu li.active:not([data-value="custom"]) {
    pointer-events: none;
}
.dropdown-menu li.active {
    background: #0003;
}
.dropdown-menu li.active::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    color: #098ffc;
    border-bottom: 2px solid;
    border-right: 2px solid;
    left: 11px;
    top: 6px;
    transform: rotate(45deg);
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
    width: 320px;
    background: var(--note-bg);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    display: none;
    z-index: 1000;
}
.popup.show {
    display: block;
}
.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #0002;
}
.popup-header h4{
    margin: 0;
    font-size: 16px;
}
.close-popup {
    background: none;
    border: none;
    color: var(--text);
    font-size: 32px;
    padding: 0;
    cursor: pointer;
    transform: scale(0.8);
    transition: 0.3s ease-in;
}
.close-popup:hover {
    transform: scale(1.2);
}

.popup-body {
    padding: 20px;
    font-size: 12px;
}

.popup-footer {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background: #0001;
}

.popup-footer .btn + .btn{
    margin-left: 15px;
}

#clear-all-confirmation {
    width: 410px;
    z-index: 1500;
}

.is-clear-all #toolbar , .is-clear-all #editor{
    pointer-events: none;
    opacity: 0.6;
    filter: blur(2px);
}


.btn {
    border: none;
    padding: 8px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn-danger {
    background: #e10d0d;
    color: #fff;
}
.btn-danger:hover {
    background: #b90404;
}
.btn-secondary {
    background: #0006;
    color: #fff;
}
.btn-secondary:hover {
    background: #0008
}


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    flex: 1;
}
.form-control{
    width: 32px;
    height: 32px;
}


.btn-draw-shape {
    position: relative;
}
.btn-draw-shape.active , .btn-draw-shape:hover {
    --text: #06c;
}
[data-shape="rect"]::before , [data-shape="rounded"]::before , [data-shape="ellipse"]::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid var(--text);
}
[data-shape="rounded"]::before{
    border-radius: 4px;
}
[data-shape="ellipse"]::before {
    border-radius: 50%;
}
[data-shape="line"]::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 1px;
    background: var(--text);
    transform: rotate(315deg);
}
.arrow-icon{
    display: inline-block;

}
.arrow-icon::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 16px;
    position: relative;
    background: var(--text);
    transform: translate(-2px, -4px);
}
.arrow-icon::after {
    content: '';
    position: absolute;
    border: 4px solid #0000;
    border-left: 8px solid var(--text);
    right: -1px;
    top: 8px;
}

/* Shapes */

.isDrawing .ql-editor > *{
    cursor: crosshair;
}

.shape {
    --stroke-size: 2px;
    --stroke-color: var(--text);
    --rotate: 0rad;
    position: absolute;
    z-index: 10;
    border: var(--stroke-size) solid var(--stroke-color);
    transform-origin: left top;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    user-select: none;
}

.ellipse {
    border-radius: 50%;
}

.rounded {
    border-radius: 10%;
}

.line,
.arrow {
    height: var(--stroke-size) !important;
    min-height: 2px;
    border: none !important;
    background: var(--stroke-color) !important;
}

.line::before ,
.arrow::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: calc(var(--stroke-size) * 30);
    max-height: 28px;
    width: 100%;
    transform: translateY(-50%);
}

.arrow:after {
    content: '';
    position: absolute;
    border: calc(var(--stroke-size) * 5) solid #0000;
    left: 100%;
    top: 0;
    border-left: calc(var(--stroke-size) * 10) solid var(--stroke-color);
    transform: translate(-50%, calc(-50% + calc(var(--stroke-size) * 0.5)));
    
}

.line .selection-box,
.arrow .selection-box {
    height: calc(200% + calc(var(--stroke-size) * 2));
    transform: translateY(-50%);
    top: 50%;
}

.arrow .selection-box {
    width: calc(100% + calc(var(--stroke-size) * 3));
    height: calc(100% + calc(var(--stroke-size) * 10));
}

.text-wrapper {
    display: grid;
    max-width: 60%;
    max-height: 80%;
    overflow: hidden;
}

.text-wrapper:after {
    content: attr(data-replicated-value);
    visibility: hidden;
}

.shape textarea,
.text-wrapper:after {
    width: 100%;
    height: auto;
    background: no-repeat;
    resize: none;
    outline: none;
    border: none;
    color: inherit;
    text-align: center;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    word-break: break-word;
    line-height: 1.3;
    overflow: hidden;
    white-space: pre-wrap;
    grid-area: 1 / 1 / 2 / 2;
}


/*  */

.selection-box {
    --selection-color: #00b6ff;
    width: calc(100% + calc(var(--stroke-size) * 2));
    height: calc(100% + calc(var(--stroke-size) * 2));
    outline: 2px solid var(--selection-color);
    background: #00b7ff10;
    cursor: move;
    z-index: 10;
    outline-offset: 1px;
    top: calc(var(--stroke-size) * - 1);
    left: calc(var(--stroke-size) * - 1);
    position: absolute;
    user-select: none;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #FFF;
    position: absolute;
    border: 1px solid var(--selection-color);
    user-select: none;
    --offset: -7px;
    cursor: auto;
}

.dot:hover {
    background-color: var(--selection-color);
}

.dot.left-top {
    top: var(--offset);
    left: var(--offset);
    /* cursor: nw-resize; */
}

.dot.left-bottom {
    bottom:var(--offset);
    left: var(--offset);
    /* cursor: sw-resize; */
}

.dot.right-top {
    top: var(--offset);
    right: var(--offset);
    /* cursor: ne-resize; */
}

.dot.right-bottom {
    bottom: var(--offset);
    right: var(--offset);
    /* cursor: se-resize; */
}

.dot.top-mid {
    top: var(--offset);
    left: calc(50% + var(--offset));
    /* cursor: n-resize; */
}

.dot.left-mid {
    left: var(--offset);
    top: calc(50% + var(--offset));
    /* cursor: w-resize; */
}

.dot.right-mid {
    right: var(--offset);
    top: calc(50% + var(--offset));
    /* cursor: e-resize; */
}

.dot.bottom-mid {
    bottom: var(--offset);
    left: calc(50% + var(--offset));
    /* cursor: s-resize; */
}

.dot.rotate {
    top: -30px;
    left: calc(50% + var(--offset));
    border-radius: 50%;
    cursor: url('../images/rotate_ccw.png'), auto;
}

.dot.rotate:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: var(--selection-color);
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: -1;
    pointer-events: none;
}